{{ 'custom-hero.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-hero.js' | asset_url }}" defer></script>

<section class="vf-hero" id="vf-hero-{{ section.id }}">
  <div class="vf-hero__slider">
        {% for block in section.blocks %}

            {% assign image_loading = 'lazy' %}
            {% assign image_priority = 'auto' %}
            {% assign image_preload = false %}

            {% if forloop.first %}
            {% assign image_loading = 'eager' %}
            {% assign image_priority = 'high' %}
            {% assign image_preload = true %}
            {% endif %}

            <article class="vf-hero__slide {% if forloop.first %}is-active{% endif %}">
                {% if block.settings.image %}
                <picture>
                    <source
                        media="(max-width: 768px)"
                        srcset="{{ block.settings.image_mobile | image_url: width: 480 }} 480w,
                                {{ block.settings.image_mobile | image_url: width: 768 }} 768w"
                    >
                        {%- assign image_alt = block.settings.image_alt | default: block.settings.title -%}
                        {{
                            block.settings.image
                            | image_url: width: 1700
                            | image_tag:
                            class: 'vf-hero__image',
                            loading: image_loading,
                            fetchpriority: image_priority,
                            preload: image_preload,
                            sizes: '100vw',
                            width: block.settings.image.width,
                            height: block.settings.image.height,
                            alt: image_alt
                        }} 
                </picture>
                {% endif %}
                <div class="vf-hero__overlay"></div>
                <div class="vf-hero__content">
                    <span class="vf-hero__eyebrow">
                        VATOFINO
                    </span>

                    <h1 class="vf-hero__title">
                        {{ block.settings.title }}
                    </h1>

                    <div class="vf-hero__text">
                        {{ block.settings.text }}
                    </div>
                    {% if block.settings.button_url != blank %}
                        <a
                        href="{{ block.settings.button_url }}"
                        class="vf-hero__button"
                        >
                        {{ block.settings.button_text }}
                        </a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
  </div>
    <div class="vf-hero__arrow__container">
        <button class="vf-hero__arrow vf-hero__arrow--prev">
            ←
        </button>

        <button class="vf-hero__arrow vf-hero__arrow--next">
            →
        </button>
    </div>

  <div class="vf-hero__pagination"></div>

</section>

{% schema %}
    {
        "name": "VATOFINO Hero",
        "settings": [],
        "blocks": [
            {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                "type":"image_picker",
                "id":"image",
                "label":"Image"
                },
                {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Mobile image"
                },
                {
                "type": "text",
                "id": "image_alt",
                "label": "Image ALT"
                },
                {
                "type":"text",
                "id":"title",
                "label":"Title"
                },
                {
                "type":"textarea",
                "id":"text",
                "label":"Description"
                },
                {
                "type":"text",
                "id":"button_text",
                "label":"Button Text"
                },
                {
                "type":"url",
                "id":"button_url",
                "label":"Button Link"
                }
            ]
    }
        ],
    "presets": [
        {
            "name":"VATOFINO Hero"
        }
    ]   
}
{% endschema %}
